:root{
	--background-color: rgb(37, 46, 46);
}

body{
	background-color: var(--background-color);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	/* background-image: url('triangles.png');
	background-size: 5%;
	background-blend-mode: color; */
	/* background-blend-mode:luminosity; */

}

.slidercontainer{
	width: 100%;

}

.slider{
	/* -webkit-appearance: media-slider; */
	appearance: auto;
	width: 100%;
	height: 25px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover{
	opacity: 1;
}


.slider::-webkit-slider-thumb{
	-webkit-appearance: slider-horizontal;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #F56600;
	cursor: pointer;
}

.row {
	display: flex;
	justify-content: center;
}

.column {
	flex: 50%;
	padding-left: 5%;
	padding-right: 5%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #F56600;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #522D80;
}
